.nav{
    background-color: rgba(254, 0, 0, 0.85);
    padding: 40px;
}

.nav ul li a{
    text-decoration: none;
    color: black;
}

.sub-menu1 li{
    display: inline;
    margin: 20px;
}


.sub-menu2 li{
    display: none;
    margin: 20px;
}

.sub-menu1 li:hover .sub-menu2 li{
    display: block;
 
}
